<div class="container">

    <div class="row">
        <div class="col text-center" style="margin-top: -3.5rem;">
            <img class="img-fluid" height="450px" width="800px" src="../../assets/images/me-banner.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h1 style="letter-spacing: .3rem; float: right; font-size: 3.5em;">Mohamed Yousuf Abdul Rahman</h1>
      </div>
      </div>
    <br>
      <div class="row">
        <div class="col">
            <p style="font-size: 1.1em;">
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                Welcome to my website! I'm a dedicated software developer with expertise in Java Spring Boot backend development and Angular front-end work. This platform, crafted entirely by me using Angular, showcases my skills and projects. Alongside my Bachelor's in Computer Science, I'm currently pursuing a Master's in the same field, fueling my passion for continuous learning. I apologize if it seemed like ranting earlier; I'm genuinely enthusiastic about what I do. Join me on this exciting journey of innovation and exploration in the world of software development. Let's connect and inspire each other in the vast realm of computer science!
            </p>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col"style="opacity: 0.6">
             <h1 ><q>{{quoteStr}}</q></h1><p>- {{author}}</p>
          </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col">
            <a href="https://www.linkedin.com/in/mohamed-yousuf-abdul-rahman-5a3669111/"  target="_blank"><img height="50px" width="50px" src="../../assets/images/linkedin.png" alt=""></a>
            <a href="https://github.com/yousuf1997"  target="_blank"><img height="50px" width="50px" src="../../assets/images/icons8-github-50.png" alt=""></a>
            <a href="mailto: mohamedyousuf@gmail.com"  target="_blank"><img height="50px" width="50px" src="../../assets/images/gmail.png" alt=""></a>
          </div>
      </div>
</div>