<!-- <div class="col-lg-9"> -->
<div class="card text-center" style="width: 100%;">
    <div class="card-body text-center">

        <p><b>About Me</b></p>
        <div class="col-lg-3">
            <div *ngIf="visiblity" class="card text-center" id="picCard">
                <div class="card-body">
                    <!-- <img src="../../assets/images/my_image.png" alt="Mohamed Yousuf Abdul Rahman" height="50%"
                        width="80%"> -->
                    <hr>
                    <p>Mohamed Yousuf Abdul Rahman (Mohamed Abdul)</p>
                    <hr>
                    <p>Tech. Summary</p>
                    <span *ngFor="let tag of tags">
                        <span class="badge badge-pill badge-dark">{{tag}}</span>
                    </span>
                    <hr>
                    <p>contact : <b>mohamedyousufmo@gmail.com</b></p>
                    <hr>
                    <span>
                        <p>Authorized to work for any employers in the U.S.</p>
                    </span>
                </div>
            </div>
        </div>

        <hr>
        <p>Hi there, first of all thank you for visiting my site.
        <p>
        <p>I am an entry level Software Developer based in LA area. I am currently working remotely for <b>Infosys</b>
            as an <b>Associate
                Software Developer</b> since July 2020. I graduated from <b>California State University, San
                Bernardino</b> with <b>B.S Computer Science</b>
            in Summer 2019.
        </p>
        <br>
        <div class="card text-center">
            <br>
            <p><b>[ Q & A about myself ] 🙋</b></p>
            <hr>
            <p><b>1) What tech stack are you currently working on?</b></p>
            <p>I am currently working on stack of Java, Spring Boot, and AngularJs.</p>
            <p><b>2) What are your hobbies?</b></p>
            <p>My hobbies are playing games, watching movies, and learning new things.</p>
            <p><b>3) What made you intrested in Programming?</b></p>
            <p>It was by an accident, it was junior year in my high school, I was surfing the library. I found a book which is an intro. to Java, i was skimming through the pages, then rest is history. 
            </p>

        </div>

    </div>
</div>
<!-- </div> -->