<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="letter-spacing: .3rem; float: right; font-size: 2.5em;">Dsabrushup</h1>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you're seeking a quick and effective way to prepare or refresh your knowledge of Java collections, look no further. I've developed a user-friendly website that covers the fundamental collection operations in Java. This resource proves invaluable during interviews, equipping you with the skills to tackle coding problems with ease.
                </p>
            </div>
        </div>
        <div>
            <div class="col text-center">
                <button type="button" class="btn btn-light" onclick="window.location='https://dsabrushup.netlify.app/';" style="border-radius: 1.7em;">Visit</button>
            </div>
        </div>

          <div class="row">
            <div class="col">
                <h1 style="letter-spacing: .3rem; float: right; font-size: 2.5em;">Story Quality Evaluator</h1>
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        For my CS 5990 project (Grad School), I implemented the research paper titled "Story Quality as a Matter of Perception" by Morteza Behrooz, Justus Robertson, and Arnav Jhala.
                         The project focused on using word embeddings and NLP techniques to estimate cognitive interest in stories. 
                         I delved into the exciting world of natural language processing, preprocessing the text data, and training the model. 
                         Through rigorous evaluation, I gained valuable insights into the algorithm's performance and its potential applications. 
                         This project was great experience in exploring the realm of AI.
                        </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn btn-light" onclick="window.location='https://github.com/yousuf1997/CS-5990-Term-Project';" style="border-radius: 1.7em;">Visit</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1 style="letter-spacing: .3rem; float: right; font-size: 2.5em;">Andorid Launching Modes Article</h1>
                </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            The article explains the different launch modes for activities in Android development. It describes the default standard launch mode, where each time an activity is launched a new instance is created. The singleTop mode reuses an existing instance if one already exists at the top of the stack. SingleTask creates one instance which is reused for all launches. SingleInstance creates a new task with only one instance of the activity. Understanding these launch modes is important for controlling activity lifetime and behavior in an Android app. The article provides a useful overview of this core concept.
                            </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-light" onclick="window.location='https://mohamedyousufmo.medium.com/understand-android-activity-launch-mode-c21fcecf04b8';" style="border-radius: 1.7em;">Visit</button>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <h1 style="letter-spacing: .3rem; float: right; font-size: 2.5em;">Pointer in C++ Article</h1>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                The article provides a good introduction to pointers, a fundamental concept in C programming. It explains that a pointer is a variable that stores the memory address of another variable or value. Dereferencing a pointer accesses the value at that address. Pointers allow passing addresses to functions to modify values directly instead of just copies. The article covers declaring pointer variables, the address-of operator (&) to get addresses, the dereference operator (*) to access values, and proper use of pointers vs normal variables. Common mistakes like uninitialized pointers are also mentioned. Overall, the article covers the key pointer basics in a clear and concise way for C++ programmers.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn btn-light" onclick="window.location='https://mohamedyousufmo.medium.com/understand-pointer-in-c-bfd0c34f2d5f';" style="border-radius: 1.7em;">Visit</button>
                        </div>
                    </div>
</div>