<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="letter-spacing: .3rem; float: right; font-size: 2.5em;">Dsabrushup</h1>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you're seeking a quick and effective way to prepare or refresh your knowledge of Java collections, look no further. I've developed a user-friendly website that covers the fundamental collection operations in Java. This resource proves invaluable during interviews, equipping you with the skills to tackle coding problems with ease.
                </p>
            </div>
        </div>
        <div>
            <div class="col text-center">
                <button type="button" class="btn btn-light" onclick="window.location='https://dsabrushup.netlify.app/';" style="border-radius: 1.7em;">Visit</button>
            </div>
        </div>
</div>