<!-- <div class="col-lg-9"> -->
<div class="card text-center" style="width: 100%;">
    <div class="card-body text-center">
        <p> <b> Work Experience</b>
        <p>
            <hr>
        <div class="card text-center">
            <br>
            <p><b>Associate Software Developer [ Infosys ]</b></p>
            <hr>
            <ul>
                <li>Currently working on a feature which will enable the users to find best doctors
                    in theirregion. I have integrated a third party REST API (Nuna) into the existing
                    Application Integration Platform (AIP) service which leverages on Spring,
                    Camel Integration framework and Java. Implemented a SLA feature which the
                    Nuna should respond within the specified time period</li>
                <li>Designed and modified an existing AIP service request and response model to
                    facilitate the process of finding best doctors. The data being displayed in the
                    front end which is based on the AngularJS framework.</li>
                <li>Designed and developed a REST API for book inventory management using a
                    stack of AngularJS, Spring Boot, and MySQL for an internal education purpose.</li>
                <li>
                    Monitored the deployment process in Jenkins, and have deployed code as well
                    for QA to perform testing on the product.
                </li>
                <li>
                    Wrote a documentation for QA team by providing example of a request and
                    response model
                </li>
                <li>
                    Monitored the deployment process in Jenkins, and have deployed code as well
                    for QA to perform testing on the product.
                </li>
                <li>
                    Currently working under Agile Environment. Participated in sprints, daily stand
                    up, dev sync up and identified blockers
                </li>
            </ul>
        </div>
        <br>
        <div class="card text-center">
            <br>
            <p><b>IT Helpdesk [ Prime Healthcare ]</b></p>
            <hr>
            <ul>
                <li>Reported incidents from the end-user using Service Desk ticketing
                    system</li>
                <li>Performed password resets for end-users using Active Directory, and
                    other EMR applications.
                </li>
                <li>Part of Duo 2FA administration. Managed users account, and
                    troubleshoot their accounts using DUO Admin Portal.
                </li>
                <li>Utilized WebEx software to open bridge communication in case of High
                    priority issue, and also used Xmatters to notify the technicians, and
                    engineers.
                </li>

            </ul>
        </div>

        <br>
        <div class="card text-center">
            <br>
            <p><b>Software Engineer Intern [ CSUSB MAD Team ]</b></p>
            <hr>
            <ul>
                <li>I was part of Android development team; I have worked on continued projects, and new projects. Ihave
                    written Software Specification Requirements (SRS) for our projects, and designed UI forapplications.
                </li>

                <li>I have performed Quality Assurance (QA) testing on <a
                        href="https://play.google.com/store/apps/details?id=csusb.roomquest&hl=en_US">RoomQuest app</a>
                    and its is published on Google Play store.
                </li>
                <li>SOS is an Android application used to report and alert users about incidents. This was a continued
                    project, I have integrated ArcGis map technology to display the location of the incident. Firebase
                    was used as database to retrieve the location of the incident.
                </li>
                <br>
                <a target="_blank" href="https://mobileappdev.academic.csusb.edu/team/">Click here to see the Home page CSUSB MAD Team</a>


            </ul>
        </div>

    </div>
</div>
<!-- </div> -->