<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="letter-spacing: .2rem; float: left; font-size: 2.5em;">
                <!-- <img style="display: inline;" height="45px" width="45px" src="../../assets/images/icons8-code-50.png" alt=""> -->
                     Programming Languages
            </h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row text-center">
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-java-50.png" alt="">
            <p>Java</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-python-50.png" alt="">
            <p>Python</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-javascript-50.png" alt="">
            <p>JavaScript</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-typescript-50.png" alt="">
            <p>TypeScript</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-c-50.png" alt="">
            <p>C++</p>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col">
            <h1 style="letter-spacing: .2rem; float: left; font-size: 2.5em;">
                <!-- <img style="display: inline;" height="50px" width="50px"
                    src="../../assets/images/icons8-version-control-64.png" alt=""> -->
                Version Control
            </h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row text-center">
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-github-50.png" alt="">
            <p>GitHub</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-bitbucket-50.png" alt="">
            <p>Bitbucket</p>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col">
            <h1 style="letter-spacing: .2rem; float: left; font-size: 2.5em;">
                <!-- <img style="display: inline;" height="50px" width="50px"
                    src="../../assets/images/icons8-technology-50.png" alt=""> -->
                Frameworks
            </h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row text-center">
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-spring-boot-48.png" alt="">
            <p>Spring Boot</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-angular-50.png" alt="">
            <p>Angular</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-docker-50.png" alt="">
            <p>Docker</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-jenkins-50.png" alt="">
            <p>Jenkins</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-testing-50.png" alt="">
            <p>Junit</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-bootstrap-96.png" alt="">
            <p>Bootstrap</p>
        </div>

    </div>
    <hr>
    <div class="row">

        <div class="col">
            <h1 style="letter-spacing: .2rem; float: left; font-size: 2.5em;">
                <!-- <img style="display: inline;" height="50px" width="50px"
                    src="../../assets/images/icons8-technology-50.png" alt=""> -->
                Database
            </h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row text-center">
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-mysql-48.png" alt="">
            <p>MySql</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-mongodb-a-cross-platform-document-oriented-database-program-48.png" alt="">
            <p>MongoDB</p>
        </div>
        <div class="col-md-3">
            <img height="50px" width="50px" src="../../assets/images/icons8-amazon-web-services-64.png" alt="">
            <p>Amazon RDS</p>
        </div>
    </div>
</div>