<!-- <div class="col-lg-9"> -->
<div class="card text-center" style="width: 100%;">
    <div class="card-body text-center">
        <p> <b> Work Experience </b> <p>
            <hr>
        <div class="card text-center">
            <br>
            <p><b>Associate Software Developer [ Infosys ]</b></p>
            <p>I am currently working on stack of Java, Spring Boot, and Angular Js.</p>
        </div>
        <br>
        <div class="card text-center">
            <br>
            <p><b>IT Helpdesk [ Prime Healthcare ]</b></p>
            <p>I am currently working on stack of Java, Spring Boot, and Angular Js.</p>
        </div>

    </div>
</div>
<!-- </div> -->