<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="letter-spacing: .2rem; float: right; font-size: 2.5em;">
                <!-- <img style="display: inline;" height="50px" width="50px" src="../../assets/images/icons8-education-64.png"
                    alt=""> -->
                    Education
            </h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row text-center">
        <div class="col">
            <p style="float: left; font-size: 1.6em;">California State Polytechnic University, Pomona
                <br>
                <i style="float: left; font-size: 0.7em; font-weight: lighter;">Master of Science, Computer Science [2022-Present]</i>
            </p>
       </div>

    </div>
    <div class="row text-center">
        <div class="col">
            <p style="float: left; font-size: 1.6em;">California State University, San Bernardino
                <br>
                <i style="float: left; font-size: 0.7em; font-weight: lighter;">Bachelors of Science, Computer Science [2015-2019]</i>
            </p>
       </div>

    </div>
    
    </div>