<!-- <div class="col-lg-9"> -->
<div class="card text-center" style="width: 100%;">
    <div class="card-body text-center">
        <p> <b> Work Samples </b>
        <p>
        <hr>
        <div class="card text-center">
            <br>
            <p><b>Covid Dashboard [2020]</b></p>
            <hr>
            <ul>
                <li>The Covid Dashboard displays the covid cases across the world, and in the US. The cases are sorted
                    based on the nationality, and also the US cases are displayed seperately. This app has a
                    functionality of
                    sorting the cases by various paramenters such number of death cases, number of recovered etc. It
                    updates the data every few seconds.
                </li>
            </ul>
            <span><b> Tech. Stack : </b>
                <span *ngFor="let stack of covidDashBoardTechStack">
                    <span class="badge badge-pill badge-dark">{{stack}}</span>
                </span>
            </span>
            <br>
            <a target="_blank" href="https://github.com/yousuf1997/Angular-Demo-Project">Click here to see the code</a>
        </div>
        <br>
        <div class="card text-center">
            <br>
            <p><b>SARF Duplicator [2019] </b></p>
            <hr>
            <ul>
                <li>I have build this project when I was working at Prime Healthcare as a Helpdesk. This project is
                    meant to use internally
                    to duplicate incidents tickets to across the sites with in the organization. I have initiated this
                    project to my lead at Prime Healthcare, and gave me an approval to work on it.
                    This resolved the problem of manually duplicating tickets.
                </li>

            </ul>
            <span><b> Tech. Stack : </b>
                <span *ngFor="let stack of sarfDuplicatorTechStack">
                    <span class="badge badge-pill badge-dark">{{stack}}</span>
                </span>
            </span>
        </div>
        <br>
        <div class="card text-center">
            <br>
            <p><b>PinIt [2019]</b></p>
            <hr>
            <ul>
                <li>This is a location pinning app, where a user can pin any location and tag it name. They would be able to query the location on the 
                    search interface. The user can also share the location as google map with anyone, and also they can navigate to that location.
                </li>
            </ul>
            <span><b> Tech. Stack : </b>
                <span *ngFor="let stack of pinItTechStack">
                    <span class="badge badge-pill badge-dark">{{stack}}</span>
                </span>
            </span>
            <br>
            <a target="_blank" href="https://github.com/yousuf1997/PinIt_Android_App">Click here to see the code</a>
        </div>
        <br>
        <div class="card text-center">
            <br>
            <p><b>Tamil Dictonary [2019]</b></p>
            <hr>
            <ul>
                <li>This is a dictionary app which maps English words to Tamil word. The words are stored in local storage as a JSON objects.
                </li>
            </ul>
            <span><b> Tech. Stack : </b>
                <span *ngFor="let stack of tamilDictionaryTechStack">
                    <span class="badge badge-pill badge-dark">{{stack}}</span>
                </span>
            </span>
            <br>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.tamil.mohamed.dictionary">Link to the playstore.</a>
        </div>
        

    </div>
</div>
<!-- </div> -->