<h3>
    Add Movie
</h3>
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Movie Name</label>
      <input type="email" class="form-control" id="movieName" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Poster Picture Link</label>
      <input type="password" class="form-control" id="posterLink">
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Ratings</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
          <option value="5">Five</option>
        </select>
      </div>
    <button type="submit" class="btn btn-light">Submit</button>

  </form>