<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="">About Me</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="experience" routerLinkActive="active">Technical Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="worksamples" routerLinkActive="active">Education</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="others" routerLinkActive="active">Other works</a>
      </li> -->
    </ul>
  

  </div>

  
  <!-- <div class="custom-control custom-switch" style="float: right;">
    <input type="checkbox" (click)="eventListener($event)"class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">{{invisibleGuideText}}</label>
  </div> -->

</nav>
<br>
<div class="container" [ngClass]="{'invisible':backgroundInvisible}">
  <div class="row ">

    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row" style="padding-top: 150px;">
    <div class="col">
      <footer class="text-center p-3 bg-light">
        <p>&copy; 2023 Mohamed Yousuf Abdul Rahman. All rights reserved.</p>
    </footer>
    </div>
  </div>
</div>
